USE [LIB]
GO
/****** Object:  StoredProcedure [dbo].[SP0601All]    Script Date: 03/17/2012 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP0701All]
AS
BEGIN
	SELECT *
	FROM [dbo].[Role]
END


