<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EmailAddress" value="fu.thuvien@gmail.com"/>
    <add key="SMTPHost" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="AuthenticationId" value="fu.thuvien@gmail.com"/>
    <add key="AuthenticationPassword" value="1234567@9"/>
    <add key="Subject" value="Hết hạn mượn sách"/>
    <add key="Data Source" value="localhost"/>
    <add key="Database" value="LIB"/>
    <add key="User Id" value="sa"/>
    <add key="Password" value="root"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
